<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pwa>
            <order>
                <notify_about_order_shipment>1</notify_about_order_shipment>
            </order>
        </pwa>
    </default>
</config>
