<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="pwa_device_saved">
        <observer name="link_last_order_with_device"
                  instance="MageSuite\PwaNotifications\Observer\LinkLastOrderWhenDeviceIsCreated" />
    </event>

    <event name="sales_order_shipment_save_after">
        <observer name="pwa_notify_about_order_shipment"
                  instance="\MageSuite\PwaNotifications\Observer\Order\Shipment\NotifyAboutOrderShipment" />
    </event>

    <event name="customer_login">
        <observer name="link_customer_with_device" instance="MageSuite\PwaNotifications\Observer\Customer\LinkCustomerWithDevice" />
    </event>
</config>
